.meu-titulo {
    color: blueviolet;
}

.meu-titulo:hover {
    color: orange;
    background-color: brown;
    padding-left: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.site-coder:visited {
    color: aqua;
    background-color: blueviolet;
}

.site-coder:active {
    color: pink;
    background-color: red;
}

#texto {
    color: crimson;
}

#texto:focus {
    color: chartreuse;
    font-size: 20px;
    background-color: bisque;
}

.item:first-child,
.item:last-child {
    color: lawngreen;
}

.elemento:not(.destaque) {
    background-color: blanchedalmond;
}

/*pares*/
.item:nth-child(2n) {
    background-color: aquamarine;
}

/*impares*/
.item:nth-child(odd) {
    background-color: bisque;
}

p:first-of-type {
    color: red;
}

option:checked {
    color: red;
    background-color: black;
}

input:checked {
    margin-left: 20px;
}

input[type="radio"]:checked {
    accent-color: green;
}

input[type="email"]:valid {
    color: green;
}

input[type="email"]:invalid {
    color: red;
}

input:required {
    background-color: pink;
}

input:disabled {
    background-color: gray;
}

#paragrafo::first-letter {
    font-size: 60px;
}

#paragrafo::first-line {
    font-weight: bold;
    background-color: yellow;
}

#paragrafo::after {
    content: " Final";
    color: aqua;
}

#paragrafo::before {
    content: "Início ";
    color: aqua;
}

p::selection {
    background-color: blueviolet;
}

.elemento::marker {
    color: blue;
}

input[type="text"]::placeholder {
    color: brown;
}