.container {
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: repeat(6, 100px);
    gap: 10px;
    grid-template-areas:
        "header header header"
        "nav main aside"
        ". footer .";
}

header {
    grid-area: header;
    background-color: red;
}

nav {
    grid-area: nav;
    background-color: violet;
}

main {
    grid-area: main;
    background-color: green;
}

aside {
    grid-area: aside;
    background-color: yellow;
}

footer {
    grid-area: footer;
    background-color: lightgray;
}

@media screen and (min-width: 768px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "nav nav header header"
            "nav nav main main"
            "aside footer footer ."
        ;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "header header header"
            "nav nav nav"
            "main main aside"
            "footer footer footer"
        ;
    }
}